
mat-tab-group {
    height:110px;
    margin-bottom: 5px;
}

mat-tab {
    height:110px;
}

::ng-deep .mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    color: white;
    font-weight: 400;
}

::ng-deep .mat-ink-bar {
    background-color:orangered !important;}

